header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}
footer{    
    padding: 10px;
    background-color: black;    
    color: white; 
    text-align: center;
    clear: both;
    margin-top: 5px;
}
button{
    color: blue;
    padding: 5px;
    size: 15px;
}